*{
    font-family: 'Be Vietnam Pro', sans-serif;
}

.encabezado{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 200px;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
    display: flex;   
}

li{
    margin: 5px;
}

button{
    background-color: #8B48BF;
    padding: 10px 30px 10px 30px;
    border-radius: 50px;
    border: none;
}

.btn{
    color: #FFFFFF;
}

.titlePt3{
    font-size: 39px;
    font-weight: 700;
    text-align: center;
}

.mainPt3{
    display: flex;
}

.bestPlayers{
    padding: 20px;
}

h6{
    font-size: 16px;
    text-align: center;
    font-weight: 1200;
}

.biographyPlayers{
    font-size: 16px;
}