*{
    margin: 0;
    padding: 0;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.encabezado{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 200px;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
    display: flex;   
}

li{
    margin: 5px;
}

button{
    background-color: #8B48BF;
    padding: 10px 30px 10px 30px;
    border-radius: 50px;
    border: none;
}

.btn{
    color: #FFFFFF;
}

.titlePt3{
    font-size: 39px;
    font-weight: 700;
    text-align: center;
}

.mainPt3{
    display: flex;
}

.bestPlayers{
    padding: 20px;
}

h6{
    font-size: 16px;
    text-align: center;
    font-weight: 1200;
}

.biographyPlayers{
    font-size: 16px;
}

.footerPt1{
    display: flex;
    height: 224px;
    background-color: #8B48BF;
    justify-content: space-around;
    align-items: center;
}

.knowTeams{
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 900;
}

.btn2{
    background-color: #FFFFFF;
}

.lnkBtn2{
    color: #8B48BF;
    font-weight: 900;
    margin: 0;
}

.footerPt2{
    background-color: #000000;
    height: 247px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.homeRs{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.listFooter{
    list-style: none;
}


/* seccion del medio */

.hero-imagen-principal img{
    height: 100vh;
    width: auto;
    margin: 20px;
}

.info-hero{
    
    text-align:right;
    
}

.info-hero h1{
    color:#232C50;
    font-size: 40px;
    font-weight: 700;

}

.pregunta-sobre-pros{
    background-color: #3CDDF3;
}

.contenedor-tres-articulos{
    padding-top: 75px;
}
.contenedor-tres-articulos .numero-articulo{
    display: inline;
    background-color: #8B48BF;
    border-radius: 20%;
    padding: 10px;
}